body{
    background-color: black;
    color:white;
    text-align: center;
    margin:5%;
}
button{
    text-align: center;
    width:70%;
   /* margin-left:50%; */
   border-radius: 50%;
   /* height:4%; */
   font-size: 2em;
   background-color: wheat;
}